body{
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    width: 100%;    
    background: #7A7A7A;
    min-height: 100vh;
    
    
}

/* Clases */

nav a{
     color: #3F3F3F;
     font-size: 25px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
}

nav a:hover {
    color: #524C4A;
    text-decoration: underline;
}

.barra-navegacion{
    background: #7A7A7A;
    background-color: #C6C6C6;
    border: 5px solid #555555;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
    padding: 10px;
    height: 20px;                    /* code compressed */
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

/* BUTTONS OF THE NAVIGATION BAR
arranging and aligning the buttons */

#bar-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 40%;
}

.contenedor, .contenedor2, .contenedor3{
    position: relative;
}

/* fondo debajo del parrafo */

.fondo1{
    width: 100%;
}

/* contenedor del parrafo */

.contenedor p{
    /* personalizacion de el texto como tal */
    font-size: 19px;
    position: absolute;
    top: 0;
    margin-left: 361px;
    width: 762px;
    height: 95%;
    text-align: center;

    /* personalizacion de caja de textos */
    background-color: #C6C6C6;
    border: 10px solid #6f6d6d;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}

.fondo-arriba{
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.fondo-arriba1{
   height: 750px;
    width: 100%;
}

.resaltado {
    display: inline-block; /* Mantiene el flujo pero permite estilos */
    font-weight: bold;
    color: #000000;         /* Negro puro para que sea más "fuerte" */
    font-size: 26px;        /* Más grande para resaltar */
    width: 100%;
}
 
.contenedor2 img{
    height: 1150px;
}
.contenedor3 img{
    height: 1150px;
}
.contenedor2 p, .contenedor3 p{
    /* personalizacion de el texto como tal */
    font-size: 19px;
    position: absolute;
    top: 0;
    margin-left: 361px;
    width: 762px;
    height: 95%;
    text-align: center;

    /* personalizacion de caja de textos */
    background-color: #C6C6C6;
    border: 10px solid #6f6d6d;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}







